.container{
    height:24px ;
    width:42px ;
    border: 1.5px solid rgb(209, 149, 209);
    border-radius: 30px;
    display: flex;
    align-items: center !important;
    text-align: center;
    place-content: center;
    justify-content: space-between;
    gap:3px;
    padding:2px;
    position: relative;
    cursor: pointer;
}
.icon{
    font-size: 12px;
}

.ball{
    width: 15px;
    height: 15px;
    background-color: rgb(233, 103, 233);
    border-radius: 50%;
    position: absolute;
}