* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  /* max-width: 1336px; */
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10rem;

}
.theme{
  transition: all 1s ease ;
}
.light{
  background:rgba(245, 245, 245, 0.9);
  color: #171212;
}
.dark{
  background: #171212;
  color:white;
}