.container {
  width: inherit;
  height: inherit;
   display: flex;
  align-items: center;
  gap: 4rem; 
}

.text{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.heroText{
  font-size: 3rem;
  /* color:linear-gradient(to top, white, green ); */
    background: linear-gradient(to left, thistle,rgb(81, 123, 81));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
 
  text-transform: uppercase;

}

.heroSubText{
  font-size: 1rem;
  font-weight: 200;
}

/* */

/* .img{
position: relative;

} */